/* PC */
@media (min-width: 64em) {

}

/* Mobile + tablet */
@media (max-width: 63.9375em) {
    .buy-btn {
        padding: 16px 18px;
    }

    #nav .subnav li a {
        padding: 5px 16px;
    }

    .contact-body .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 12px;
        font-size: 16px;
    }

    .contact-submit-btn {
        font-size: 17px;
    }

    .footer-icon a {
        font-size: 28px;
        margin: 0 6px;
    }

    .copyright {
        font-size: 20px;
        margin: 20px 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-full, 
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header #search-button {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav  li  a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav li a {
        color: #fff;
        padding: 5px 41px;
    }

    #slider #slider-content {
        display: none;
    }

    .contact-form {
        margin-top: 32px;
    }
}